.portfolio{
  padding: 80px 0;
  &__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item{
    padding: 20px 20px 35px 25px;
    background: #F5F7F9;
    border-radius: 20px;
    img{
      padding-bottom: 31px;
      display: block;
      margin: 0 auto;
      height: 260px;
    }
    &-title{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &-link{
      transition: .3s ease-in-out;
      color: $mainBlack;
      display: block;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      &:hover{
        text-decoration: none;
        color: #9c9c29;
      }
    }
  }
}
