.choice{
  background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #ECE8E5;
  padding: 80px 0;
  &__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item{
    padding: 40px 20px 20px 20px;
    min-width: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child){
      margin-right: 30px;
    }
    &-title{
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 32px;
    }
    img{
      margin-bottom: 40px;
    }
    &-text{
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 15px;
      text-align: center;
    }
    &-sum{
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 27px;
    }
    &-button{
      transition: .5s ease-in-out;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: $mainWhite;
      padding: 14px;
      &:hover{
        background-color: $colorGray;
      }
    }
    &_light-blue{
      background: #93E7FF;
    }
    &_yellow{
      background: #FFD773;
    }
    &_dark-blue{
      background: #A3A3FF;
    }

  }
}
