@media (max-width: 792px){
  .calculator__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .dropdown-wrapper{
    margin-bottom: 15px;
  }
}
@media (max-width: 768px){
  .calculator-info__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .calculator-info__column{
    border-right: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 665px){
  .promotion__title{
    flex-direction: column;
    div:first-child{
      margin-right: 0;
      font-size: 38px;
    }
  }
  .mobile-label-text{
    font-size: 16px;
    padding-top: 4px;
  }
}

@media (max-width: 560px){
  .dropdown-wrapper{
    flex-direction: column;
    .dropdown:not(:last-child){
      margin-bottom: 15px;
    }
  }
  .dropdown{
    width: 200px;
    justify-content: space-between;
  }
}

@media (max-width: 424px){
  .calculator__title {
    font-size: 30px;
  }
  .promotion__title{
    div:first-child{
      font-size: 26px;
    }
  }
  .calculator-info__title{
    font-size: 22px;
  }
}

@media (max-width: 360px){
  .calculator-info__column-item{
    font-size: 14px;
  }
}
