{% extends "base/default.html" %}

{% block title %}Телефоны{% endblock %}

{% block content %}
<div>
    <ul>
        <li>
            <a href="/">Главная</a> /
            <a href="/catalog">Каталог</a> /
             <a href="/catalog/{{category.url}}">{{category.translate_name}}</a> /
            <span>{{gadget.name}}</span>
        </li>
    </ul>
</div>
<h2>{{gadget.name}}</h2>
<div data-id="{{gadget.id}}">
    <p>{{gadget.description}}</p>
    <p>{{gadget.new_price}} Руб.</p>
    <p>
        <img src="/{{gadget.image}}" alt="" style="width: 300px; height: 300px">
    </p>
</div>


<div style="display: flex; flex-wrap: wrap; align-items: center">
    {% for image in images %}
        <img src="/{{image.gadgetImage}}" alt="" style="width: 300px; height: 300px">
    {% endfor %}
</div>


<a href="{% url 'index' %}">Home</a>.
{% endblock %}