.rates{
  margin: 80px 0;
  &__title{
    color: $mainBlack;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 45px;
  }
  &__types{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $mainBlack;
    font-weight: 600;
    font-size: 16px;
    div:not(:last-child){
      margin-right: 40px;
    }
    &_sum{
      padding-right: 25px;
      font-weight: 700;
      font-size: 24px;
    }
    &_buttons{
      margin-right: 0;
      button:not(:last-child){
        margin-right: 7px;
      }
    }
  }
  &__color-title{
    color: $mainBlack;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(0deg, #FFD773, #FFD773), #F4F7FE;
    border-radius: 5px;
    &_blue{
      background: linear-gradient(0deg, #77CBFA, #77CBFA), #F4F7FE;
    }
  }
  &__field{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $colorGray;
    &-title{
      color: $mainBlack;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 10px;
    }
    &-wrapper{
      display: flex;
    }
  }
  &__mobile-field{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  &__mobile-field:not(:last-child){
    border-bottom: 1px solid $colorGray;
  }
  &__mobile-btn{
    background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #EAECEF;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__mobile-btn:not(:last-child){
    margin-bottom: 10px;
  }
}

.item-ok{
  padding: 0 65px;
}
.item-ok-active{
  svg{
    path{
      stroke: $colorGreen;
    }
  }
}
.item-ok:not(:last-child){
  border-right: 2px solid $colorGray;
}


.rates-mobile{
  display: none;
}
.mobile-type{
  min-width: 150px;
}
.mobile-check-area{
  margin-top: 30px;
}
.mobile-field-first-row{
  margin-top: 20px;
}
