.burger {
  position: relative;
  transition: .5s ease-in-out;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dash {
    position: absolute;
    left: 0;
    transition: .5s ease-in-out;
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 5px;

    &:before {
      transition: .5s ease-in-out;
      position: absolute;
      top: -7px;
      left: 0;
      content: "";
      height: 2px;
      width: 30px;
      background-color: #fff;
    }

    &:after {
      transition: .5s ease-in-out;
      position: absolute;
      top: 7px;
      left: 0;
      content: "";
      height: 2px;
      width: 30px;
      background-color: #fff;
    }
  }
}

.active-burger {
  .dash {
    transform: rotateZ(45deg);

    &:before {
      opacity: 0;
    }

    &:after {
      transform: rotateZ(90deg);
      position: absolute;
      top: 1px;
    }
  }
}