{% extends "base/default.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<div>
    <form method="post">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; width: 300px">
            {{ form }}
        </div>
        <input type="submit" value="Submit">
    </form>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <b>{{ error }}</b>
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <b>{{ field }}</b>: {{ error }}
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
</div>

<a href="{% url 'index' %}">go back home</a>
{% endblock %}