{% extends "base/default.html" %}

{% load static %}

{% block title %}CATALOG PAGE{% endblock %}

{% block content %}
<div>
    <ul>
        <li>
            <a href="/">Главная</a> /
            <span>Каталог</span>
        </li>
    </ul>
</div>
<section class="catalog">
    <div class="container">
        <h1>catalog</h1>
        <div class="catalog__wrapper">
            {% for category in categories %}
            <a href="{{ category.url }}" class="catalog__item">
                <div class="catalog__item-title">{{category.translate_name}}</div>
                <div class="catalog__item-description">{{category.description}}</div>
                <img src="/{{category.image}}" alt="">
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}